:root {
  --color-foreground: #262626;
  --color-background: #FFF;
  --link-color: #069;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: var(--color-foreground);
  background: var(--color-background);
  height: 100%;
  width: 100%;
}

a {
  color: var(--link-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: #f0f0f0;
    --color-background: #1a1a1a;
    --link-color: #00a4f7;
  }
  
  .maplibregl-ctrl-group {
    background-color: #1a1a1a !important;
  }

  .maplibregl-ctrl-attrib {
    background-color: #1a1a1a !important;
    color: #f0f0f0 !important;
  }

  .maplibregl-ctrl-attrib a {
    color: #00a4f7 !important;
  }

  .maplibregl-ctrl-group button+button {
    border-color: #434343 !important;
  }
}

*, * * {
  box-sizing: border-box;
}

p, ul {
  line-height: 1.5;
}